{% extends 'base.html.twig' %}

{% block title %}Exnet - Tu propio internet{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container vh-centered">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="exnet-container-transparent text-center p-4">
                    <h1 class="exnet-main-title exnet-centered-title" style="user-select:none;">Exnet - Tu propio internet</h1>
                    <p>
                        Exnet es una plataforma que te permite construir tu propio ecosistema digital sin depender de grandes corporaciones. 
                        Con ella, puedes crear una red privada y segura desde casa, acceder a tus archivos, ver tus películas y escuchar tu música en streaming, 
                        comunicarte mediante llamadas o mensajería, y gestionar todo de forma centralizada. Exnet te devuelve el control sobre tu contenido, 
                        tu privacidad y tu infraestructura digital, sin cuotas mensuales ni intermediarios.
                    </p>
                    
                    <div class="mt-4 d-flex justify-content-center flex-wrap gap-3">
                        <a href="/modulos" class="exnet-btn exnet-btn-blue">
                            <i class="fas fa-puzzle-piece me-2"></i> Explorar Módulos
                        </a>
                        <a href="https://docs.exnet.cloud/" class="exnet-btn exnet-btn-outline-light">
                            <i class="fa-solid fa-lightbulb"></i> Tutoriales
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}