{% extends 'base.html.twig' %}

{% block title %}Landing Page{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="exnet-container-transparent text-center p-4">
            <h1 class="exnet-main-title">Exnet - Tu propio internet</h1>
            <p style="color: white;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis id libero laoreet tristique.
                Donec facilisis nulla at tellus suscipit, ut tempus nulla malesuada. Suspendisse potenti. 
                Integer sagittis libero in ligula vulputate, in ultrices justo fermentum.
            </p>
        </div>
    </div>

    <footer class="exnet-footer text-center">
        <p>&copy; 2025 Exnet. By ROA.</p>
    </footer>
{% endblock %}
