{% extends 'base.html.twig' %}

{% block title %}Landing Page{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}

        <footer class="exnet-footer text-center">
            <p>&copy; 2025 Exnet. By ROA.</p>
        </footer>
{% endblock %}
