{% extends 'base.html.twig' %}

{% block title %}Keycloak Test{% endblock %}

{% block body %}
    <div class="exnet-container-transparent">
        <h1 style="color: white">Keycloak Test</h1>
        <p style="color: white">Si puedes ver esta página, tu autenticación con Keycloak está funcionando.</p>
    </div>
{% endblock %}