@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --font-primary: 'Exo', sans-serif;
}

body {
    font-family: var(--font-primary);
    user-select: none;
}

.exnet-footer {
    width: 100%;
    padding: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 0.9rem;
    user-select: none;
}
