
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Allow direct access to media files
<FilesMatch "\.(mp3|ogg|wav|m4a|aac)$">
    Order allow,deny
    Allow from all
    Satisfy any
</FilesMatch>
